<h3>BindEvento</h3>

@* Generalmente, el bind funciona con el evento onChange *@
<p>
    <input @bind="Valor" @bind:event="oninput"/>
</p>

El valor es: @Valor

@code {
    private string? Valor { get; set; }
}
