@inject IJSRuntime js
@inject SweetAlertService swal

<div style="display: flex; flex-wrap: wrap; align-items: center;">
    <ListadoGenerico Listado="Peliculas">
        <HayRegistro Context="pelicula">
            <PeliculaIndividual Pelicula="pelicula" EliminarPelicula="EliminarPelicula" />
        </HayRegistro>
    </ListadoGenerico>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    private async Task EliminarPelicula(Pelicula pelicula)
    {
        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Desea borrar la pélucla {pelicula.Titulo}?",
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            Console.WriteLine("Eliminando una película");
            Peliculas!.Remove(pelicula);
        }

    }

}
