<input type="checkbox" @bind="MostrarBotones" />
<span>
    Mostrar botones
</span>

<ListadoGenerico Listado="Peliculas">
    <HayRegistro Context="pelicula">
        <PeliculaIndividual Pelicula="pelicula" MostrarBotonos=MostrarBotones EliminarPelicula="EliminarPelicula" />
    </HayRegistro>
</ListadoGenerico>

@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    bool MostrarBotones = false;

    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine("Eliminando una película");
        Peliculas!.Remove(pelicula);
    }

}
