@if (Peliculas is null)
{
    <p>Cargando las películas</p>
    <img alt="cargando" src="https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-11-849_512.gif" />

}
else if (Peliculas.Count == 0)
{
    <p>No hay películas para mostrar</p>
}
else
{
    <input type="checkbox" @onchange="@(() => MostrarBotones = !MostrarBotones)"/>
    <span>
        Mostrar botones
    </span>

    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotonos=MostrarBotones/>
    }
}
@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }
    bool MostrarBotones = false;

}
