@if (Peliculas is null)
{
    @if(Cargando is null)
    {
        <p>Cargando las películas</p>
        <img alt="cargando" src="https://cdn.pixabay.com/animation/2022/07/29/03/42/03-42-11-849_512.gif" />
    }else{
        @Cargando
    }
}
else if (Peliculas.Count == 0)
{
    @if(NoHayRegistro is null)
    {
        <p>No hay películas para mostrar</p>
    }
    else
    {
        @NoHayRegistro
    }
}
else
{
    <input type="checkbox" @bind="MostrarBotones"/>
    <span>
        Mostrar botones
    </span>

    @foreach (var pelicula in Peliculas)
    {
        <PeliculaIndividual Pelicula="pelicula" MostrarBotonos=MostrarBotones EliminarPelicula="EliminarPelicula" />
    }
}
@code {

    [Parameter]
    [EditorRequired]
    public List<Pelicula>? Peliculas { get; set; }

    [Parameter]
    public RenderFragment Cargando { get; set; } = null!;

    [Parameter]
    public RenderFragment NoHayRegistro { get; set; } = null!;

    bool MostrarBotones = false;

    private void EliminarPelicula(Pelicula pelicula)
    {
        Console.WriteLine("Eliminando una película");
        Peliculas!.Remove(pelicula);
    }

}
