@inherits LayoutComponentBase
@using Radzen.Blazor
<RadzenDialog />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Proyecto Ausentismo" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <NavMenu SidebarExpanded="sidebar1Expanded" SidebarExpandedChanged="HandleSidebarExpandedChanged" />
    </RadzenSidebar>
    <RadzenBody Style="padding: 0px;">
        @Body
    </RadzenBody>
    <RadzenFooter>
        <div class="text-center justify-content-center">
            <RadzenLabel Text="@footer"/>
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;

    string footer = $"Desarrollo por OTI © {DateTime.Today.Year}";

    void HandleSidebarExpandedChanged()
    {
        sidebar1Expanded = false;
    }
}