@inherits LayoutComponentBase
@using Radzen.Blazor
<RadzenDialog />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
            <RadzenLabel Text="Proyecto Ausentismo" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <NavMenu />
    </RadzenSidebar>
    <RadzenBody>
        <div class="content px-4">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>
        <div class="text-center justify-content-center">
            <RadzenLabel Text="@footer"/>
        </div>
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;

    string footer = $"Desarrollo por OTI © {DateTime.Today.Year}";
}