@page "/"

<div>
    <h3>Película</h3>
    <ListadoPeliculas Peliculas="Peliculas">
    </ListadoPeliculas>
</div>

<button @onclick="AgregarPelicula" class="btn-light">Agregar película</button>

@* <div>
    <h2>Crear una película</h2>
    <Ejemplo_Textbox placeholder="pelicula" disabled="true" />

    <Ejemplo_Textbox @attributes="@(new Dictionary<string, object> ()
                                {
                                    {"placeholder", "nuevo placeholder"},
                                    {"disabled", "true"}
                                })" />

    <Ejemplo_Textbox @attributes="EjemploTextboxParametros" />

    <Ejemplo_Textbox />;

    <Ejemplo_Textbox placeholder="Placeholder Index" />;
</div>

<div>
    <BindEvento />
</div>

<div>
    <BindGetSetDemo />
</div>

<div>
    <BindAfterDemo />
</div> *@

@code {

    public List<Pelicula>? Peliculas {get; set;}
    
    protected override void OnInitialized(){
        Peliculas = ObtenerPeliculas();
    }

    private Dictionary<string, object> EjemploTextboxParametros = new Dictionary<string, object>()
                                {
                                    {"placeholder", "nuevo placeholder 2"},
                                    {"disabled", "true"}
                                };

    List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
            new Pelicula{Titulo = "Wakanda Forever",FechaLanzamiento = new DateTime(2023, 12, 1)},
            new Pelicula{Titulo = "Moana",FechaLanzamiento = new DateTime(2016, 11, 11)},
            new Pelicula{Titulo = "Inception",FechaLanzamiento = new DateTime(2010, 7, 16)},
        };
    }

    private void AgregarPelicula(){
        Peliculas?.Add(new Pelicula {Titulo = "Nuevo", FechaLanzamiento = DateTime.Today});
    }
}